<!DOCTYPE html>
<html>
<head>
  <title>RailsWatchList</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="bg-light">
  <nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container">
      <%= link_to "WatchList", root_path, class: "navbar-brand fw-bold" %>
      <%= link_to "New list", new_list_path, class: "btn btn-outline-light btn-sm" %>
    </div>
  </nav>
  <div class="container mb-5">
    <%= yield %>
  </div>
</body>
</html>
